:root {
  --color-blue: #1303ff;
  --color-light-green: #52f264;
  --color-dark-green: #008000;
  --color-yellow-green: #e1ff4c;
  --color-dark-grey: #34383b;
  --color-grey-blue: #345f7e;
  --color-purple: #3438db;
  --color-light-grey: #d7d7d7;
  --color-red: #d00000;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 1rem;
}

h1,
h2,
h3 {
  margin-top: 5rem;
}

/* GRAPHIQUE À BARRES */

div.graph {
  width: 100%;
  max-width: 600px;
}

/* Horizontal */

.horizontal {
  position: relative;
  text-align: right;
  height: 30px;
  margin: 10px 0;
  border-radius: 5px;
}

.horizontal.barre-1 {
  background-color: var(--color-blue);
  width: 60%;
}

.horizontal.barre-2 {
  background-color: var(--color-light-green);
  width: 30%;
}

.horizontal.barre-3 {
  background-color: var(--color-yellow-green);
  width: 90%;
}

.horizontal.barre-4 {
  background-color: var(--color-grey-blue);
}

/* Vertical */

.container-vertical {
  display: flex;
  align-items: flex-end;
  height: auto;
}

.vertical {
  display: inline-block;
  margin: 5px;
  width: 30px;
  border-radius: 5px;
}

.vertical.barre-1 {
  background-color: var(--color-purple);
  height: 60px;
}

.vertical.barre-2 {
  background-color: var(--color-yellow-green);
  height: 30px;
}

.vertical.barre-3 {
  background-color: var(--color-dark-grey);
  height: 90px;
}

.vertical.barre-4 {
  background-color: var(--color-light-grey);
  height: 70px;
}

/* GRAPHIQUE CIRCULAIRE */

.container-circulaire {
  width: 120px;
  height: 120px;
}

div.circulaire {
  position: absolute;
  border-radius: 50%;
}

.circulaire.vert {
  z-index: 1;
  border: 60px solid var(--color-dark-green);
}

.circulaire.rouge {
  z-index: 3;
  border: 60px solid var(--color-red);
  border-top: 60px solid transparent;
  border-right: 60px solid transparent;
}


.circulaire.bleu {
  z-index: 2;
  border: 60px solid var(--color-blue);
  border-top: 60px solid transparent;
  border-right: 60px solid transparent;
  transform: rotate(38deg);
}