
.graphique {
    width: 100%;
    max-width: 600px;
    padding: 10px;
  }
  
  .horizontal {
    background-color: #3498db;
    margin: 17px 0;
    text-align: right;
    position: relative;
    height: 30px;
    border-radius: 5px;
  } 
  .horizontal1 {
    background-color: #92ce22;
    margin: 17px 0;
    text-align: right;
    position: relative;
    height: 30px;
    border-radius: 5px;
  } .horizontal2 {
    background-color: #d7f05b;
    margin: 17px 0;
    text-align: right;
    position: relative;
    height: 30px;
    border-radius: 5px;
  } .horizontal3 {
    background-color: #536a7a;
    margin: 17px 0;
    text-align: right;
    position: relative;
    height: 30px;
    border-radius: 5px;
  } 



  .graphique {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .vertical-bar {
    background-color: #3438db;
    width: 30px;
    margin: 10px; 
    display: inline-block;
  }
  
  .vertical-bar1 {
    background-color: #b5d6c7;
    width: 30px;
    margin: 10px; 
    display: inline-block;
  }
  .vertical-bar2 {
    background-color: #34383b;
    width: 30px;
    margin: 10px; 
    display: inline-block;
  }
  .vertical-bar3 {
    background-color: #38db;
    width: 30px;
    margin: 10px; 
    display: inline-block;
  }
  .vertical {
    display: flex;
    align-items: flex-end; 
    height: 200px;
    padding: 10px;
  }
  
  
  
  

  
  
  


#cambembert {
    position: relative;
    width: 120px;
    height: 120px;
}

div.cambembert {
    position: absolute;
    width: 0;
    height: 0;
    border: 60px solid green;
    border-radius: 60px;
}

.cambembert.vert {
    z-index: 1;
}

.cambembert.rouge {
    z-index: 2;
    border: 60px solid red;
    border-top: 60px solid transparent;
    border-right: 60px solid transparent;
}

.cambembert.bleu {
    z-index: 2;
    border: 60px solid blue;
    border-top: 60px solid transparent;
    border-right: 60px solid transparent;
    transform: rotate(36deg);
}

.texte {
    position: absolute;
    z-index: 3;
    color: white;
}

.texte.vert {
    top: 30px;
    left: 70px;
}

.texte.rouge {
    top: 60px;
    left: 20px;
}
